.message-list {
  overflow-x: hidden;

  height: 100%;
  padding: 1rem;
}

.message-list::-webkit-scrollbar {
  width: .5rem;
}

.message-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-secondary);
}

.message-list__content {
  display: flex;
  flex-direction: column;
}

.from-right-enter {
  transform: translateX(100%);

  opacity: 0;
}
.from-right-enter-active {
  transition: transform 200ms ease-out, opacity 50ms ease-out 100ms;
  transform: translateX(0);

  opacity: 1;
}

.from-left-enter {
  transform: translateX(-100%);

  opacity: 0;
}
.from-left-enter-active {
  transition: transform 200ms ease-out, opacity 50ms ease-out 100ms;
  transform: translateX(0);

  opacity: 1;
}
